/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
}
html {
  font-size: 62.5%;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Ubuntu', sans-serif;
  color: #5E6164;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Russo One', sans-serif;
  color: #23293B;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.8rem;
}
p {
  font-size: 1.6rem;
  line-height: 1.4;
}
.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
nav {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  background: rgba(236, 236, 255, 0.8);
  position: fixed;
  top: 0;
  height: 13vh;
  padding: 1.25vh 0;
  width: 100%;
  transition: 5s;
}
@media (max-width: 500px) {
  nav {
    padding: 3vh;
    height: 15vh;
  }
}
nav .logo-cont h1 {
  font-size: 5rem;
}
@media (max-width: 500px) {
  nav .logo-cont h1 {
    font-size: 3.5rem;
  }
}
nav .nav-items {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  align-items: center;
  width: 75%;
  padding: 0 10%;
  margin-top: 1vh;
}
@media (max-width: 500px) {
  nav .nav-items {
    width: 100%;
    padding: 0 5%;
  }
}
nav .nav-items a {
  color: black;
  text-decoration: none;
  font-size: 1.75rem;
}
@media (max-width: 500px) {
  nav .nav-items a {
    font-size: 1.5rem;
  }
}
nav .nav-items a:hover {
  color: #994141;
}
footer {
  color: #22283B;
  background: #f4f4f4;
  padding: 20px 0;
  border: 1px double #e0e0e0;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home .intro .hero-cont {
  margin-top: 13vh;
}
@media (max-width: 500px) {
  .home .intro .hero-cont {
    margin-top: 15vh;
  }
}
.home .intro h2 {
  padding: 15px;
}
.home .intro p {
  padding: 0 15px;
}
.home .space-images {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
}
.home .space-images img {
  width: 28%;
  margin: 20px 2.5%;
  border-radius: 20px;
  height: 100%;
}
@media (max-width: 500px) {
  .home .space-images img {
    width: 100%;
  }
}
@media (max-width: 500px) {
  .home .space-images .img-two {
    display: none;
  }
}
@media (max-width: 500px) {
  .home .space-images .img-three {
    display: none;
  }
}
.home .visit-planets {
  padding: 15px;
}
.home .visit-planets h3 {
  margin-top: 11px;
}
.home .visit-planets p {
  margin-top: 13px;
}
.home .walk {
  margin-top: 60px;
  border-top: 1px solid #dee2e6;
  padding: 50px 60px;
  display: flex;
  justify-content: center;
}
@media (max-width: 500px) {
  .home .walk {
    display: flex;
    flex-flow: column-reverse;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    padding-top: 1vh;
    width: 100%;
  }
}
.home .walk .walk-text {
  width: 50%;
}
@media (max-width: 500px) {
  .home .walk .walk-text {
    width: 90%;
  }
}
.home .walk .walk-text h3 {
  margin-bottom: 10px;
}
@media (max-width: 500px) {
  .home .walk .walk-text h3 {
    margin-top: 2vh;
  }
}
.home .walk .walk-text p {
  margin-bottom: 26px;
}
.home .walk .walk-text .btn {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  background: #23293B;
  color: #b1b1b1;
  border-radius: 8px;
  padding: 2%;
  padding: 3%;
  width: 30%;
  transition: 3s;
}
@media (max-width: 500px) {
  .home .walk .walk-text .btn {
    width: 100%;
    margin-bottom: 2vh;
    border-radius: 5px;
    font-size: 1.75rem;
  }
}
.home .walk .walk-text .btn:hover {
  transition: 3s;
  transform: scale3d(1.1, 1.1, 1.1);
  color: #23293B;
  background: #b1b1b1;
}
.home .walk .walk-img {
  width: 46%;
  margin-left: 4%;
}
@media (max-width: 500px) {
  .home .walk .walk-img {
    width: 90%;
    margin: 0;
  }
}
.home .walk .walk-img img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}
.form-bg {
  background: url("/img/galaxy-bg.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 8px;
  padding: 3%;
  margin-top: 3vh;
}
@media (max-width: 500px) {
  .form-bg {
    padding: 3% 0;
  }
}
.form-bg .sign-up-cont {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  background: #F4F4F4;
  border-radius: 8px;
  margin: 5vh 0;
  padding: 5%;
}
@media (max-width: 500px) {
  .form-bg .sign-up-cont {
    border-radius: 0;
  }
}
.form-bg .sign-up-cont h2 {
  font-size: 3rem;
  margin-bottom: 1vh;
}
.form-bg .sign-up-cont p {
  margin-bottom: 5vh;
}
.form-bg .sign-up-cont form label {
  font-size: 2rem;
  margin-right: 10px;
}
.form-bg .sign-up-cont form input[type=text] {
  width: 100%;
  margin-top: 1vh;
  margin-bottom: 3vh;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.form-bg .sign-up-cont form .submit-btn {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.form-bg .sign-up-cont form .submit-btn input[type=submit] {
  background: #23293B;
  font-size: 2rem;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 3% 5%;
  width: 100%;
}
.form-bg .sign-up-cont form .submit-btn input[type=submit]:hover {
  color: #aaaaaa;
}
